html
    head
        title Index Page
    body
        h1 Hello
        h2 LoLo
        hr
        a(href="www.naver.com", data-test="hello link") go to link
        h1 #{name}
        h1= description

        hr

        - for(var i=0;i<10;i++) {
            p
                a Go Go Go

        -}